{% extends 'base.html.twig' %}

{% block content %}
    <center>
    <h1>Connexion</h1>

        <form>
<div>
    <table>


                <label>Username</label>
                <input type="text" id="log" name="username" />
                <label>Password</label>
                <input type="password" id="pwd" name="password" />

    </table>
</div>
</form>

    <ul>
        <li>
            <a href="{{ path('utilisateur_new') }}">Create a new utilisateur</a>
        </li>
    </ul>

    </center>
{% endblock %}
